.CD-H{
    cursor: pointer;
}


.A{
    background: linear-gradient(to right, #1d976c, #93f9b9);
}

.B{
    background: linear-gradient(to right, #ED8F03, #FFB75E); 
}

.C{
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
    
}

.D{
    background: linear-gradient(to top, #757f9a, #d7dde8); 
}

.E{
    /* background-color: #fffc00; */
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

.F{
    /* background: linear-gradient(to bottom, #e53935, #e35d5b);  */
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.G{
    background: linear-gradient(to top, #000000, #434343a5); 
}

.H{
    /* background: linear-gradient(to bottom, #ee9ca7, #ffdde1);  */
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);

}